@{
    ViewBag.Title = "Index";
}

@section css {
    <link href="~/css/Home/index.min.css" rel="stylesheet" />
}

<h2>Index</h2>
<div id="authors">
    <h3>Прочитать про <a href="/humans.txt">авторов</a></h3>
</div>

