<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования файлов web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    В следующем примере преобразование "SetAttributes" будет изменять значение
    "connectionString" с целью использования "ReleaseSQLServer", только когда
    указатель "Match" находит атрибут "name", который имеет значение "MyDB".
    
    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!-- customErrors - Включить отображение своих страниц ошибок заместо ASP.NET, предосавляющего trace ошибки. -->
    <customErrors xdt:Transform="SetAttributes(mode)" mode="On"/>
    <!-- compilation - Выключить режим debug. -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!-- Выключить трейсинг по адресу /trace.axd -->
    <trace xdt:Transform="Remove" />
    <!--
      
      В следующем пример преобразование "Replace" будет заменять весь 
      раздел <customErrors> в файле web.config.
      Заметьте, поскольку имеется только один раздел customErrors в узле 
      <system.web>, не требуется использовать атрибут "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <!-- existingResponse="Replace" - Заместить любой вызов с ошибкой своей страницей ошибки. -->
    <httpErrors xdt:Transform="SetAttributes(existingResponse)" existingResponse="Replace"/>
    <!-- dynamicCompressionBeforeCache - Включить сжатие перед кэшированием. -->
    <urlCompression xdt:Transform="SetAttributes(dynamicCompressionBeforeCache)"
                    dynamicCompressionBeforeCache="true"/>
    <!-- убрать TraceHandler-Integrated - Убрать tracing handlers, чтобы при обращении к /trace.axd выдало 
         404 Not Found вместо 500 Internal Server Error. -->
    <handlers>
      <remove xdt:Transform="Insert" name="TraceHandler-Integrated" />
      <remove xdt:Transform="Insert" name="TraceHandler-Integrated-4.0" />
    </handlers>
  </system.webServer>
</configuration>