<!DOCTYPE html>

<html lang="ru">
<head>
    @* Порядок тэгов в хедере имеет значение для большей совместимости и производительности *@
    @* Кодировка страницы *@
    <meta charset="utf-8">
    @* Отображение на мобильных устройствах *@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale = 1.0, user-scalable = no"/>
    @* Название, отображаемое в панели браузера. Не должно быть более 70 символов. Название сайта добавлено для SEO *@
    <title>@ViewBag.Title | @Application.Name</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
